<div class="panel panel-default" *ngIf="worker.name !== '' && worker.role !== ''">
  <div class="panel-heading" *ngIf="toggleEdit">{{worker.name}}</div>
  <div class="panel-body">
    <p *ngIf="toggleEdit">
      <strong *ngIf="worker.type === 'сотрудник'">
        {{worker.role}}
      </strong>
      <strong *ngIf="worker.type === 'руководитель'" style="color:RGBA(255,0,0,1)">
        {{worker.role}}
      </strong>
    </p>
    <p *ngIf="!toggleEdit">
      <label>Имя: <input type="text" class="form-control" [(ngModel)]="newName"></label><br>
      <label>Отдел: <input type="text" class="form-control" [(ngModel)]="newRole"></label>
    </p>
    <button class="btn btn-primary mr-2" (click)="toggleEdit = fasle" *ngIf="toggleEdit">Редактировать</button>
    <button class="btn btn-primary" (click)="workerDelete(worker.name)" *ngIf="toggleEdit">Удалить</button>
    <button class="btn btn-primary" (click)="editedWorker(newName, newRole, worker.name)"
      *ngIf="!toggleEdit">Готово</button>
  </div>
</div>
