<div class="container">
  <form [formGroup]="workerForm" (ngSubmit)="onWorkerFormSubmit()">
    <div class="row mt-2">
      <div class="col-12">
        <input type="hidden" id="id" formControlName="id" [value]="workers.length">
        <input type="text" id="name" class="form-control" placeholder="Имя" formControlName="name">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="text" id="surname" class="form-control" placeholder="Фамилия" formControlName="surname">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="text" id="number" [textMask]="{mask: mask}" class="form-control" placeholder="Телефон"
          formControlName="number">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="false" id="defaultCheck1" formControlName="status">
          <label class="form-check-label" for="defaultCheck1">Руководитель</label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="submit" class="btn btn-primary form-control" [disabled]="!workerForm.valid"
          value="Добавить сотрудника">
      </div>
    </div>
	</form>
	<div class="row mt-2">
		<div class="col-12 col-sm-8 mx-auto">
			<label for="searchName">Поиск</label>
			<input type="text" id="searchName" class="form-control" [(ngModel)]="search">
		</div>
	</div>
  <app-worker *ngFor="let worker of workers | search:search" [worker]="worker" (deletedWorker)="deleteWorker($event)"
    (editedWorker)="onEditWorker($event)">
  </app-worker>
</div>
